.drawer-container {
    height: 100%;
  }
  
  .mat-toolbar {
    z-index: 2; /* Ensure the toolbar is above the drawer */
  }
  
  .dashboard-content {
    margin-left: 250px; /* Adjust the margin to match the sidebar width */
    transition: margin-left 0.3s ease;
    height: 100%;
    overflow: auto;
  }
  
  .mat-drawer {
    width: 250px;
    background-color: #ffffff;
    color: white;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 8px;
    text-align: center;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #beb3b3;
    }
  
    a {
      color: white;
      text-decoration: none;
      font-size: 18px;
    }
  }
  