<div class="sidebar">
    <!-- Add your sidebar content here -->
    <ul>
      <li><a routerLink="/training-form">Go to Training Form</a></li>
      <li><a routerLink="/training-list">Go to Training list</a></li>
      <li><a routerLink="/formateur">add formateur</a></li>
      <li><a routerLink="/entreprise-form">Go to entreprise Form</a></li>
      <li><a routerLink="/entreprise-list">Go to entreprise list</a></li>
      <li><a routerLink="/planificationt">planificationt</a></li>
    </ul>
  </div>
  <router-outlet></router-outlet>