  <!-- entreprise.component.html -->

  <div class="container">
    <h2>Add a participant</h2>
    <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" formControlName="firstName" />
        <div *ngIf="registerForm.get('firstName').hasError('required') && registerForm.get('firstName').touched">
          First Name is required.
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" formControlName="lastName" />
        <div *ngIf="registerForm.get('lastName').hasError('required') && registerForm.get('lastName').touched">
          Last Name is required.
        </div>
      </div>

      <div class="form-group">
        <label for="dateOfBirth">Date of Birth</label>
        <input type="text" class="form-control" id="dateOfBirth" formControlName="dateOfBirth" />
        <div *ngIf="registerForm.get('dateOfBirth').hasError('required') && registerForm.get('dateOfBirth').touched">
          Date of Birth is required.
        </div>
      </div>

      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" formControlName="city" />
        <div *ngIf="registerForm.get('city').hasError('required') && registerForm.get('city').touched">
          City is required.
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" formControlName="email" />
        <div *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched">
          Email is required.
        </div>
      </div>

      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber" />
        <div *ngIf="registerForm.get('phoneNumber').hasError('required') && registerForm.get('phoneNumber').touched">
          Phone Number is required.
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
