<!-- home.component.html -->
<div class="container">
    <h2>Training Courses</h2>
    <div class="row">
      <div *ngFor="let training of trainings" class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ training.title }}</h5>
            <p class="card-text"><strong>Objectives:</strong> {{ training.objectives }}</p>
            <p class="card-text"><strong>Hours:</strong> {{ training.hours }} hours</p>
            <p class="card-text"><strong>Cost:</strong> {{ training.cost | currency:'USD':'symbol':'1.2-2' }}</p>
            <p class="card-text"><strong>Detailed Program:</strong> {{ training.detailedProgram }}</p>
            <p class="card-text"><strong>Category:</strong> {{ training.category }}</p>
            <p class="card-text"><strong>City:</strong> {{ training.city }}</p>
            <button class="btn btn-primary m-2" (click)="register(training.id)">Sign Up</button>
            <button class="btn btn-primary m-2" (click)="openGoogleForm()">Feedback</button>          </div>
        </div>
      </div>
    </div>
</div>
<!-- <iframe id="googleForm" style="display: none;" src="https://docs.google.com/forms/d/e/1FAIpQLSfOhB_Kwubf9fz7Er4a0klaLfzR9jLye0goqUg7w4BSATlaJg/viewform?embedded=true" width="640" height="2363" frameborder="0" marginheight="0" marginwidth="0">Chargement…</iframe> -->

